<template>
    <div>
      <h1>Create User</h1>
  
      <form @submit.prevent="createUser">
        <label for="employeeName">Employee Name:</label>
        <input type="text" id="employeeName" v-model="newUser.employee_name" />
  
        <label for="employeeSalary">Employee Salary:</label>
        <input type="text" id="employeeSalary" v-model="newUser.employee_salary" />
  
        <label for="employeeAge">Employee Age:</label>
        <input type="text" id="employeeAge" v-model="newUser.employee_age" />
  
        <button type="submit">Create User</button>
      </form>
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  
  export default {
    data() {
      return {
        newUser: {
          employee_name: '',
          employee_salary: '',
          employee_age: '',
        },
      };
    },
    methods: {
      async createUser() {
        const apiUrl = 'https://dummy.restapiexample.com/api/v1/create';
        const requestConfig = {
        };
  
        try {
          const response = await axios.post(apiUrl, this.newUser, requestConfig);
          console.log('User created successfully:', response.data);
  
        } catch (error) {
          console.error('Creation failed:', error);
        }
      },
    },
  };
  </script>
  
  <style>
  </style>
  