<template>
    <div>
      <h1>Edit User</h1>
  
      <form @submit.prevent="updateUser">

        <label for="employee_name">User Name:</label>
        <input type="text" id="employee_name" v-model="editedUser.employee_name" />
  
        <label for="employee_salary">User Salary:</label>
        <input type="text" id="employee_salary" v-model="editedUser.employee_salary" />

        <label for="employee_age">User Age:</label>
        <input type="text" id="employee_age" v-model="editedUser.employee_age" />
  
        <button type="submit">Update User</button>
      </form>
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  
  export default {
    data() {
      return {
        userId: null,
        editedUser: {
            employee_name: '', 
            employee_salary: '',
            employee_age: '',
        },
      };
    },
    mounted() {
      this.userId = this.$route.params.id;
      this.fetchUserData(this.userId);
    },
    methods: {
      async fetchUserData(userId) {
        const apiUrl = `https://dummy.restapiexample.com/api/v1/employee/${userId}`;
        const requestConfig = {
        };
  
        try {
          const response = await axios.get(apiUrl, requestConfig);
          this.editedUser = response.data.data;
        } catch (error) {
          console.error('API request failed:', error);
        }
      },
  
      async updateUser() {
        const apiUrl = `https://dummy.restapiexample.com/api/v1/update/${this.userId}`;
        const requestConfig = {
        };
  
        try {
          const response = await axios.put(apiUrl, this.editedUser, requestConfig);
          console.log('User updated successfully:', response.data);
        } catch (error) {
          console.error('Update failed:', error);
        }
      },
    },
  };
  </script>
  
  <style>
  </style>
  