<template>
  <div class="hello">
    <h1>Home</h1>

    <table style="width:100%">
      <thead>
        <tr>
          <th class="py-2 px-4 border-b">ID</th>
          <th class="py-2 px-4 border-b">Employee Name</th>
          <th class="py-2 px-4 border-b">Employee Salary</th>
          <th class="py-2 px-4 border-b">Employee Age</th>
          <th class="py-2 px-4 border-b">Profile Image</th>
          <th class="py-2 px-4 border-b">Details</th>
          <th class="py-2 px-4 border-b">EditDetails</th>
          <th class="py-2 px-4 border-b">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in data" :key="item.id">
          <td class="py-2 px-4 border-b">{{ item.id }}</td>
          <td class="py-2 px-4 border-b">{{ item.employee_name }}</td>
          <td class="py-2 px-4 border-b">{{ item.employee_salary }}</td>
          <td class="py-2 px-4 border-b">{{ item.employee_age }}</td>
          <td class="py-2 px-4 border-b">{{ item.profile_image }}</td>
          <td class="py-2 px-4 border-b">
            <button @click="navigateToUserProfile(item.id)">View</button>
          </td>
          <td class="py-2 px-4 border-b">
            <button @click="navigateToEditUserProfile(item.id)">Edit</button>
          </td>
          <td class="py-2 px-4 border-b">
            <button @click="deleteUser(item.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Loading state -->
    <div v-if="isLoading" class="py-4">Loading...</div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      data: [],
      requestInterval: 5000,
      isLoading: false,
    };
  },
  mounted() {
    this.fetchApiDataWithRetry();
  },
  methods: {
    async fetchApiDataWithRetry() {
      this.isLoading = true;

      const maxRetries = 3;
      let retries = 0;

      const makeRequest = async () => {
        const apiUrl = 'https://dummy.restapiexample.com/api/v1/employees';
        const requestConfig = {
        };

        try {
          const response = await axios.get(apiUrl, requestConfig);
          this.data = response.data.data;
        } catch (error) {
          if (error.response && error.response.status === 429) {
            console.error('Rate limit exceeded. Retrying...');
            retries += 1;

            if (retries <= maxRetries) {
              const delay = Math.pow(2, retries - 1) * this.requestInterval;
              await new Promise(resolve => setTimeout(resolve, delay));
              await makeRequest();
            } else {
              console.error('Max retries reached. Please wait before making more requests.');
            }
          } else {
            console.error('API request failed:', error);
          }
        } finally {
          this.isLoading = false;
        }
      };

      await makeRequest();
    },

    navigateToUserProfile(Id) {
      this.$router.push({ name: 'ViewUser', params: { Id } });
    },
    navigateToEditUserProfile(Id) {
      this.$router.push({ name: 'EditUser', params: { Id } });
    },
    async deleteUser(Id) {
      const apiUrl = `https://dummy.restapiexample.com/api/v1/delete/${Id}`;
      const requestConfig = {
      };

      try {
        const response = await axios.delete(apiUrl, requestConfig);
        console.log('User deleted successfully:', response.data);

        await this.fetchApiDataWithRetry();
      } catch (error) {
        console.error('Delete failed:', error);
      }
    },
  },
};
</script>

<style scoped>
table, th, td {
  border: 1px solid black;
}
</style>
