<template>
  <div class="hello">
    <h1>User</h1>
    <table style="width:100%">
      <thead>
        <tr>
          <th class="py-2 px-4 border-b">ID</th>
          <th class="py-2 px-4 border-b">Employee Name</th>
          <th class="py-2 px-4 border-b">Employee Salary</th>
          <th class="py-2 px-4 border-b">Employee Age</th>
          <th class="py-2 px-4 border-b">Profile Image</th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="data" :key="data.id">
          <td class="py-2 px-4 border-b">{{ data.id }}</td>
          <td class="py-2 px-4 border-b">{{ data.employee_name }}</td>
          <td class="py-2 px-4 border-b">{{ data.employee_salary }}</td>
          <td class="py-2 px-4 border-b">{{ data.employee_age }}</td>
          <td class="py-2 px-4 border-b">{{ data.profile_image }}</td>
        </tr>
      </tbody>
    </table>

    <div v-if="isLoading" class="py-4">Loading...</div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      data: null,
      requestInterval: 5000,
      isLoading: false,
    };
  },
  mounted() {
    const Id = this.$route.params.Id;
    this.fetchdata(Id);
    console.log(Id)
  },
  methods: {
    async fetchdata(Id) {
      this.isLoading = true;

      const maxRetries = 3;
      let retries = 0;
    
      const makeRequest = async () => {
      const apiUrl = `https://dummy.restapiexample.com/api/v1/employee/${Id}`;
      const requestConfig = {
      };

      try {
        const response = await axios.get(apiUrl, requestConfig);
        this.data = response.data.data;
      } catch (error) {
        if (error.response && error.response.status === 429) {
          console.error('Rate limit exceeded. Retrying...');
          retries += 1;

          if (retries <= maxRetries) {
            const delay = Math.pow(2, retries - 1) * this.requestInterval;
            await new Promise(resolve => setTimeout(resolve, delay));
            await makeRequest();
          } else {
            console.error('Max retries reached. Please wait before making more requests.');
          }
        } else {
          console.error('API request failed:', error);
        }
      } finally {
        this.isLoading = false;
      }
    };
      await makeRequest();
    },
  },
};
</script>

<style scoped>
table, th, td {
  border: 1px solid black;
}
</style>
